
<div class="profile-layout">
    <!-- LEFT SIDEBAR -->
    <div class="sidebar">
      <div class="profile-photo">
        <label for="photoUpload" class="upload-label">
          <img alt="Profile Photo" class="clickable" />
        </label>
        <p>{{      userName }}</p>

      </div>
  
      <button class="logout-btn" (click)="logout()">Logout</button>
    </div>
  
    <!-- RIGHT CONTENT AREA -->
    <div class="main-content">
      <div class="main-wrapper">
        <app-visualizer></app-visualizer>
      </div>
    </div>
  </div>